{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <div class="row">
        <h2>{{ 'therapy_new_form_title'|trans }}</h2>
    </div>
    <div class="row mb-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="{{ 'therapy_table_label_list'|trans }}" aria-label="{{ 'therapy_table_label_list'|trans }}" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">{{ 'therapy_table_load_labels'|trans }}</button>
        </div>
    </div>
    <div class="row mb-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ 'therapy_table_title'|trans }}</th>
                <th scope="col">{{ 'therapy_table_name'|trans }}</th>
                <th scope="col">{{ 'therapy_table_description'|trans }}</th>
                <th scope="col">{{ 'therapy_table_background'|trans }}</th>
                <th scope="col">{{ 'therapy_table_comment'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for label in data %}
                <tr class="table-light">
                    <th scope="row" colspan="5">{{ label.shortName }}</th>
                </tr>
                {% for stub in label.stubs %}
                    <tr>
                        <td class="text-end col-2">
                            <input type="checkbox" class="form-check-input" {% if (((label.id + 2) / stub.id) % 2) == 0 %}checked{% endif %}>
                        </td>
                        <td class="col-1 border-start">{{ stub.name }}</td>
                        <td class="col-3 border-start">{{ stub.description }}</td>
                        <td class="col-3 border-start">{{ stub.background }}</td>
                        <td class="border-start">
                            <input type="text" class="form-control">
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row mb-3">
        <div class="col"></div>
        <div class="col-3">
            <button class="btn btn-primary flex-fill w-100" type="button">Generate</button>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}
