{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <div class="row">
        <h2>{{ 'app-new-therapy-scheme-page-title'|trans }}</h2>
    </div>
    <form class="row mb-3" action="{{ path('app_therapy_scheme_new') }}" method="POST">
            <div class="col-8">
                <select 
                    class="select2 form-select" name="labels[]" multiple="multiple" 
                    placeholder="{{ 'app-new-therapy-scheme-labels-list'|trans }}" 
                    aria-label="{{ 'app-new-therapy-scheme-labels-list'|trans }}" 
                    aria-describedby="button-addon2"
                >
                {% for label in all %}
                    <option value="{{ label.id }}"{% if label.id in selected %} selected{% endif %}>{{ label.shortName }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-4 text-end">
                <button class="btn btn-primary" type="submit">{{ 'app-load-therapy-labels-button'|trans }}</button>
            </div>
     
    </form>
    <form {{ stimulus_controller('build-report') }} target="_blank" action="{{ path('app_therapy_scheme_generate_html') }}" name="report_form" method="POST">
        <div class="row mb-3">
            <div class="form-check form-switch col-3">
                <input {{ stimulus_action('build-report', 'suppressLabels') }} name="suppress_labels" class="form-check-input" type="checkbox" role="switch" id="suppress-labels"/>
                <label class="form-check-label" for="suppress-labels">{{ 'app-therapy-report-suppress-labels'|trans }}</label>
            </div>
            <div class="form-check form-switch col-5">
                <input {{ stimulus_action('build-report', 'useExcerpt') }} name="use_excerpt" class="form-check-input" type="checkbox" role="switch" id="use-excerpt"/>
                <label class="form-check-label" for="use-excerpt">{{ 'app-therapy-report-use-excerpt'|trans }}</label>
            </div>
        </div>
        <div class="row mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{ 'app-therapy-report-table-title'|trans }}</th>
                        <th data-column-index="0" data-shown="true" scope="col">{{ 'app-therapy-report-table-name'|trans }}</th>
                        <th data-column-index="1" data-shown="true" id="description-column" scope="col">{{ 'app-therapy-report-table-description'|trans }}</th>
                        <th data-column-index="2" data-shown="false" style="display: none" id="excerpt-column" scope="col">{{ 'app-therapy-report-table-excerpt'|trans }}</th>
                        <th data-column-index="3" data-shown="true" scope="col">{{ 'app-therapy-report-table-background'|trans }}</th>
                        <th data-column-index="4" data-shown="true" scope="col">{{ 'app-therapy-report-table-comment'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for label in data %}
                    <tr data-suppress-label="false" data-label-row class="table-light">
                        <th scope="row" colspan="5">{{ label.shortName }}</th>
                    </tr>
                    {% for stub in label.stubs %}
                        <tr>
                            <td class="text-end col-2">
                                <input type="checkbox" name="targets[{{ label.id }}][{{ stub.id }}]" class="form-check-input" checked>
                            </td>
                            <td data-column-index="0" data-shown="true" class="col-1 border-start">{{ stub.name }}</td>
                            <td data-column-index="1" data-shown="true" class="col-3 border-start description">{{ stub.description }}</td>
                            <td data-column-index="2" data-shown="false" style="display: none" class="col-3 border-start excerpt">{{ stub.excerpt }}</td>
                            <td data-column-index="3" data-shown="true" class="col-3 border-start">{{ stub.background }}</td>
                            <td data-column-index="4" data-shown="true" class="border-start">
                                <textarea name="comments[{{ stub.id }}]" class="form-control"></textarea>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="d-grid gap-2 d-md-block">
                    <button formaction="{{ path('app_therapy_scheme_generate_html') }}" class="btn btn-primary" type="submit">
                        {{ 'app-therapy-report-generate-report-button'|trans }} (HTML)
                    </button>
                    <button formaction="{{ path('app_therapy_scheme_generate_pdf') }}" class="btn btn-primary" type="submit">
                        {{ 'app-therapy-report-generate-report-button'|trans }} (PDF)
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
