{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="row mb-3 mt-3">
			<div class="col">
				<h2>{{ 'app-therapy-report-saved-templates-page-title'|trans }}</h2>
			</div>
		</div>
		<form name="search_stub" action="{{ path('app_therapy_scheme_search_redirector') }}" method="post">
			<div class="input-group mb-3">
				<input type="search" name="searchName_scheme" required="required" class="form-control form-control" aria-describedby="button-addon2">
				<button class="btn btn-outline-secondary" type="submit" id="button-addon2">{{ 'app-search-for-scheme-button'|trans }}</button>
			</div>
		</form>

		<div class="row mb-3">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">{{ 'app-therapy-report-table-title'|trans }}</th>
						<th scope="col">{{ 'app-therapy-report-table-actions'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% if templates|length > 0 %}
						{% for template in templates %}
							<tr class="table-light">
								<td>{{ template.name }}</td>
								<td>
									<a href="{{ path('app_therapy_scheme_edit', {'id': template.id}) }}" class="btn btn-info">{{ 'app-therapy-report-saved-template-edit'|trans }}</a>
									<a href="{{ path('app_therapy_scheme_delete', {'templateId': template.id}) }}" class="btn btn-danger">{{ 'app-therapy-report-saved-template-delete'|trans }}</a>
								</td>
							</tr>
						{% endfor %}

					{% else %}
						<tr class="table-light">
							<th class="p-4" scope="row" colspan="2">
								<span class="d-flex justify-content-center fs-4 text-secondary">
									{{ 'app-therapy-report-no-saved-templates'|trans }}
								</span>
							</th>
						</tr>
					{% endif %}
				</tbody>
			</table>

			{% if templates|length >0 %}
				<div class="row mb-3 mt-2">
					{{ knp_pagination_render(templates) }}
				</div>
			{% endif %}


		</div>
	</div>
{% endblock %}
