{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <h2>{{ formTitle }}</h2>
        {{ form_start(stubForm) }}
        <div class="row-cols-2">
            <div class="col">
                <div class="mb-3">
                    {{ form_label(stubForm.name) }}
                    {{ form_widget(stubForm.name)}}
                </div>
                <div class="mb-3">
                    {{ form_label(stubForm.description) }}
                    {{ form_widget(stubForm.description)}}
                </div>
                <div class="mb-3">
                    {{ form_label(stubForm.background) }}
                    {{ form_widget(stubForm.background)}}
                </div>
                <div class="mb-3">
                    {{ form_row(stubForm.labels)}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-grid gap-2 d-md-block">
                {{ form_widget(stubForm.save)}}
                {% if stubForm.delete_undo is defined %}
                    {{ form_widget(stubForm.delete_undo)}}
                {% endif %}
                <a href="{{ path('app_main') }}" class="btn-secondary btn">{{ 'app-cancel-button'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
