{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <h2>{{ formTitle }}</h2>
        {{ form_start(stubForm, {
            attr: {'data-controller': 'main', 'id': 'stubForm'}
        }) }}
        <div class="row-cols-2">
            <div class="col">
                <div class="mb-3">
                    {{ form_label(stubForm.name) }}
                    {{ form_widget(stubForm.name)}}
                </div>
                <div class="mb-3">
                    {{ form_label(stubForm.description) }}
                    {{ form_widget(stubForm.description)}}
                </div>
                <div class="mb-3">
                    {{ form_label(stubForm.excerpt) }}
                    {{ form_widget(stubForm.excerpt)}}
                </div>
                <div class="mb-3">
                    {{ form_label(stubForm.background) }}
                    {{ form_widget(stubForm.background)}}
                </div>
                <div class="mb-3">
                    {{ form_row(stubForm.labels)}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-grid gap-2 d-md-block mb-4">
                {{ form_row(stubForm.submitAndNew)}}
                <a href="{{ path('app_main') }}" class="btn-secondary btn">{{ 'app-cancel-button'|trans }}</a>
                {% if stub %}
                    <button class="btn-dark btn" id="deleteUndoBTN" type="button" data-bs-toggle="modal" data-bs-target="{% if stub.isDeleted %}null{% else %}#confirmModal{% endif %}">
                        {% if stub.isDeleted %}{{ 'app-undelete-button'|trans }}{% else %}{{ 'app-delete-button'|trans }}{% endif %}
                    </button>
                {% endif %}
                <button class="btn-primary btn" id="submitBTN" type="submit">{{ 'app-save-button'|trans }}</button>
                <button class="btn-primary btn" id="submitAndNewBTN" type="submit">{{ 'app-save-and-new-button'|trans }}</button>
            </div>
        </div>
        {{ form_end(stubForm) }}

        {% if stub %}
            <form action="{{ path('app_therapy_stub_delete_undelete', {'id': stub.id}) }}" method="post" id="deleteUndoForm">
            </form>
        {% endif %}

</div>

    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="confirmModalLabel">{{ 'app-modal-stub-confirmation'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'app-modal-close'|trans }}"></button>
                </div>
                <div class="modal-body">
                    <div id="relatedSchemes"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'app-cancel-button'|trans }}</button>
                    <button type="button" id="confirmDelete" class="btn btn-danger">{{ 'app-delete-button'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const submitAndNew = document.getElementById('submitAndNewBTN');
        submitAndNew.addEventListener('click', function () {
            const checkbox = document.getElementById('stub_submitAndNew');
            checkbox.checked = true;
            const form = document.getElementById('stubForm');
            form.submit();
        });

        const submit = document.getElementById('submitBTN');
        submit.addEventListener('click', function () {
            const checkbox = document.getElementById('stub_submitAndNew');
            checkbox.checked = false;
            const form = document.getElementById('stubForm');
            form.submit();
        });

        {% if stub %}
            const deleteButton = document.getElementById('deleteUndoBTN');
            const confirmDeleteButton = document.getElementById('confirmDelete');
            const isDeleted = {% if stub.isDeleted %}true{% else %}false{% endif %};

            const notUsedInScheme = {% if usedSchemes == [] %}true{% else %}false{% endif %};

            const deleteModel = document.getElementById('confirmModal');

                if(notUsedInScheme) {
                    const relatedSchemesDiv = document.getElementById('relatedSchemes');
                    relatedSchemesDiv.innerHTML = "<h5>This Stub is not used in any schemes</h5>";
                }
                else {
                    confirmDeleteButton.setAttribute('disabled', 'disabled');
                    const relatedSchemesDiv = document.getElementById('relatedSchemes');
                    relatedSchemesDiv.innerHTML = "<h5>This Stub is used in the following schemes</h5>";
                    relatedSchemesDiv.innerHTML += '<ul>';
                    {% for key, scheme in usedSchemes %}
                        relatedSchemesDiv.innerHTML += '<li><a href="' + '{{ path('app_therapy_scheme_edit', {'id': scheme.id}) }}' + '">' + '{{scheme.name}}'  + '</a></li>';
                    {% endfor %}                    
                    relatedSchemesDiv.innerHTML += '</ul>';
                }



            if (deleteButton && confirmDeleteButton) {
                deleteButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    if (isDeleted) {               
                        document.getElementById('deleteUndoForm').submit();
                    } else {
                        // const deleteModal = new bootstrap.Modal(document.getElementById('confirmModal'));
                        deleteModal.show();
                    }
                });
                
                confirmDeleteButton.addEventListener('click', function () {
                    document.getElementById('deleteUndoForm').submit();
                });
            }
        {% endif %}

    });
</script>
{% endblock %}
