{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mt-3">
    
		<div class="row mb-3">
        	<h2>{{ 'app-therapy-stubs-list-page-title'|trans }}</h2>
		</div>


        <table id="stubsTable" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Excerpt</th>
                    <th>Background</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for stub in pagination %}
                    <tr class="stub-item" data-full-description="{{ stub.description }}" data-full-excerpt="{{ stub.excerpt }}" data-full-background="{{ stub.background }}">
                        <td>{{ stub.id }}</td>
                        <td>{{ stub.name }}</td>
                        <td>{{ stub.description[:40]|raw }}{{ stub.description|length > 40 ? '...' : '' }}</td>
                        <td>{{ stub.excerpt[:40]|raw }}{{ stub.excerpt|length > 40 ? '...' : '' }}</td>
                        <td>{{ stub.background[:40]|raw }}{{ stub.background|length > 40 ? '...' : '' }}</td>
                        <td>
                            <a href="{{ path('app_therapy_stub_edit', {id: stub.id}) }}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row mb-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
