{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mt-3">
    
		<div class="row mb-3">
        	<h2>{{ 'app-therapy-stubs-list-page-title'|trans }}</h2>
		</div>

		<div class="mb-3">
			<form name="search_stub" action="{{ path('app_therapy_stubs_search_redirector') }}" method="post">
                <input type="hidden" name="showDeleted" value="{{ showDeleted ? '1' : '0' }}">
				<div class="row g-2">
					<div class="col-md-8">
						<input type="search" name="searchName_stub" required="required" class="form-control" aria-describedby="button-addon2">
					</div>
					<div class="col-md-2">
						<select id="searchCriteria" name="searchCriteria" class="form-select">
							<option value="All">All</option>
							<option value="Name">Name</option>
							<option value="Description">Description</option>
							<option value="Excerpt">Excerpt</option>
							<option value="Background">Background</option>
						</select>
					</div>
					<div class="col-md-2">
						<button class="btn btn-outline-secondary" type="submit" id="button-addon2">{{ 'app-search-for-therapy-button'|trans }}</button>
					</div>
				</div>
			</form>
		</div>


        <div class="mb-3 text-center">
            <a href="{{ path('app_therapy_stubs_list', {'showDeleted': not showDeleted, 'sort': sort, 'direction': direction}) }}" class="btn btn-secondary">
                {{ showDeleted ? 'Hide Deleted Stubs' : 'Show Deleted Stubs' }}
            </a>
        </div>

        <table id="stubsTable" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a href="{{ path('app_therapy_stubs_list', {'sort': 'id', 'direction': (sort == 'id' and direction == 'asc') ? 'desc' : 'asc', 'showDeleted':showDeleted}) }}" style="display: flex; align-items: center;">
                            ID{% if sort is defined and sort == 'id' %}
                                <span style="margin-left: 0.2em;">{% if direction == 'asc' %} &#9650; {% else %} &#9660; {% endif %}</span>
                            {% endif %}
                        </a>
                    </th>                  
                    <th>
                        <a href="{{ path('app_therapy_stubs_list', {'sort': 'name', 'direction': (sort == 'name' and direction == 'asc') ? 'desc' : 'asc', 'showDeleted':showDeleted}) }}">
                            Name {% if sort is defined and sort == 'name' %} 
                                {% if direction == 'asc' %} &#9650; {% else %} &#9660; {% endif %} 
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ path('app_therapy_stubs_list', {'sort': 'description', 'direction': (sort == 'description' and direction == 'asc') ? 'desc' : 'asc', 'showDeleted':showDeleted}) }}">
                            Description {% if sort is defined and sort == 'description' %} 
                                {% if direction == 'asc' %} &#9650; {% else %} &#9660; {% endif %} 
                            {% endif %}
                        </a>
                    </th>      
                    <th>
                        <a href="{{ path('app_therapy_stubs_list', {'sort': 'excerpt', 'direction': (sort == 'excerpt' and direction == 'asc') ? 'desc' : 'asc', 'showDeleted':showDeleted}) }}">
                            Excerpt {% if sort is defined and sort == 'excerpt' %} 
                                {% if direction == 'asc' %} &#9650; {% else %} &#9660; {% endif %} 
                            {% endif %}
                        </a>
                    </th>              
                    <th>
                        <a href="{{ path('app_therapy_stubs_list', {'sort': 'background', 'direction': (sort == 'background' and direction == 'asc') ? 'desc' : 'asc', 'showDeleted':showDeleted}) }}">
                            Background {% if sort is defined and sort == 'background' %} 
                                {% if direction == 'asc' %} &#9650; {% else %} &#9660; {% endif %} 
                            {% endif %}
                        </a>
                    </th>                                               
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for stub in pagination %}
                    <tr class="stub-item" data-full-description="{{ stub.description }}" data-full-excerpt="{{ stub.excerpt }}" data-full-background="{{ stub.background }}">
                        <td>{{ stub.id }}</td>
                        <td>{{ stub.name }}</td>
                        <td>{{ stub.description[:40]|raw }}{{ stub.description|length > 40 ? '...' : '' }}</td>
                        <td>{{ stub.excerpt[:40]|raw }}{{ stub.excerpt|length > 40 ? '...' : '' }}</td>
                        <td>{{ stub.background[:40]|raw }}{{ stub.background|length > 40 ? '...' : '' }}</td>
                        <td>
                            <a href="{{ path('app_therapy_stub_edit', {id: stub.id}) }}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row mb-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
