{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3">
    
        <div class="row mb-3">
        	<h2>{{ 'app-therapy-stubs-list-page-title'|trans }}</h2>
		</div>

        <div class="mb-3">
			<form id="search_stub_form" name="search_stub" action="{{ path('app_therapy_stubs_search_redirector') }}" method="post">
                <input type="hidden" name="showDeleted" value="{{ showDeleted ? '1' : '0' }}">
				<div class="row g-2">
					<div class="col-md-8">
						<input type="search" id="searchValue" name="searchName_stub" required="required" class="form-control" aria-describedby="button-addon2" value="{{ searchValue }}">
					</div>
					<div class="col-md-2">
                        <select id="searchCriteria" name="searchCriteria" class="form-select">
                            <option value="All" {{ searchCriteria == 'all' ? 'selected' : '' }}>All</option>
                            <option value="Name" {{ searchCriteria == 'name' ? 'selected' : '' }}>Name</option>
                            <option value="Description" {{ searchCriteria == 'description' ? 'selected' : '' }}>Description</option>
                            <option value="Excerpt" {{ searchCriteria == 'excerpt' ? 'selected' : '' }}>Excerpt</option>
                            <option value="Background" {{ searchCriteria == 'background' ? 'selected' : '' }}>Background</option>
                        </select>
					</div>
					<div class="col-md-2">
						<button class="btn btn-outline-secondary" type="submit" id="button-addon2">{{ 'app-search-for-therapy-button'|trans }}</button>
					</div>
				</div>
			</form>
		</div>

        
        <div class="mb-3 text-center">
            <button class="btn btn-secondary" type="button" id="show_deleted_button">
                {{ showDeleted ? 'Hide Deleted Stubs' : 'Show Deleted Stubs' }}
            </button>
        </div>


        {% if pagination.getTotalItemCount() > 0 %}
            <table id="stubsTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <a href="{{ path('app_therapy_stubs_search_redirector', {'sort': 'id', 'direction': (sort == 'id' and direction == 'asc') ? 'desc' : 'asc', 'searchCriteria': searchCriteria, 'searchName_stub': searchValue, 'showDeleted':showDeleted}) }}" style="display: flex; align-items: center;">
                                ID{% if sort is defined and sort == 'id' %}
                                    <span style="margin-left: 0.2em;">{% if direction == 'asc' %} &#9650; {% else %} &#9660; {% endif %}</span>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="{{ path('app_therapy_stubs_search_redirector', {'sort': 'name', 'direction': (sort == 'name' and direction == 'asc') ? 'desc' : 'asc', 'searchCriteria': searchCriteria, 'searchName_stub': searchValue, 'showDeleted':showDeleted}) }}">
                                Name {% if sort is defined and sort == 'name' %} 
                                    {% if direction == 'asc' %} &#9650; {% else %} &#9660; {% endif %} 
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="{{ path('app_therapy_stubs_search_redirector', {'sort': 'description', 'direction': (sort == 'description' and direction == 'asc') ? 'desc' : 'asc', 'searchCriteria': searchCriteria, 'searchName_stub': searchValue, 'showDeleted':showDeleted}) }}">
                                Description {% if sort is defined and sort == 'description' %} 
                                    {% if direction == 'asc' %} &#9650; {% else %} &#9660; {% endif %} 
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="{{ path('app_therapy_stubs_search_redirector', {'sort': 'excerpt', 'direction': (sort == 'excerpt' and direction == 'asc') ? 'desc' : 'asc', 'searchCriteria': searchCriteria, 'searchName_stub': searchValue, 'showDeleted':showDeleted}) }}">
                                Excerpt {% if sort is defined and sort == 'excerpt' %} 
                                    {% if direction == 'asc' %} &#9650; {% else %} &#9660; {% endif %} 
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="{{ path('app_therapy_stubs_search_redirector', {'sort': 'background', 'direction': (sort == 'background' and direction == 'asc') ? 'desc' : 'asc', 'searchCriteria': searchCriteria, 'searchName_stub': searchValue, 'showDeleted':showDeleted}) }}">
                                Background {% if sort is defined and sort == 'background' %} 
                                    {% if direction == 'asc' %} &#9650; {% else %} &#9660; {% endif %} 
                                {% endif %}
                            </a>
                        </th>
                        <!-- Add similar <th> elements for other columns as needed -->

                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stub in pagination %}
                        <tr class="stub-item" data-full-description="{{ stub.description }}" data-full-excerpt="{{ stub.excerpt }}" data-full-background="{{ stub.background }}">
                            <td>{{ stub.id }}</td>
                            <td>{{ stub.name }}</td>
                            <td>{{ stub.description[:40]|raw }}{{ stub.description|length > 40 ? '...' : '' }}</td>
                            <td>{{ stub.excerpt[:40]|raw }}{{ stub.excerpt|length > 40 ? '...' : '' }}</td>
                            <td>{{ stub.background[:40]|raw }}{{ stub.background|length > 40 ? '...' : '' }}</td>
                            <td>
                                <a href="{{ path('app_therapy_stub_edit', {id: stub.id}) }}" class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        <div class="row mb-3">
            {{ knp_pagination_render(pagination, null, {
                'route': 'app_therapy_stubs_search_redirector',
                'routeParams': {'searchCriteria': searchCriteria, 'searchName_stub': searchValue, 'sort': sort, 'direction': direction}
            }) }}
        </div>
        {% else %}
            <div class="alert alert-secondary" role="alert">
                <h5 class="mb-1">{{ 'app-no-results-message'|trans }}</h5>
            </div>
        {% endif %}
    </div>

    <script>
    
        document.addEventListener("DOMContentLoaded", function () {

            document.getElementById('show_deleted_button').addEventListener('click', function() {
                var form = document.getElementById('search_stub_form');
                var showDeletedInput = form.querySelector('input[name="showDeleted"]');
                showDeletedInput.value = showDeletedInput.value === '1' ? '0' : '1';
                form.submit();
            });

            const searchInput = document.getElementById("searchValue");
            const searchCriteria = document.getElementById("searchCriteria");
            const stubRows = document.querySelectorAll(".stub-item");
            searchInput.addEventListener("input", function () {
                const searchTerm = searchInput.value.toLowerCase();
                const selectedCriteria = searchCriteria.value;
                stubRows.forEach(function (row) {
                    let rowText = '';

                    if (selectedCriteria === 'All') {
                        rowText = Object.values(row.dataset).join(' ').toLowerCase() + row.querySelector('td:nth-child(2)').textContent.toLowerCase();
                    } else if (selectedCriteria === 'Name') {
                        rowText = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
                    } else {
                        rowText = row.dataset[`full${selectedCriteria}`].toLowerCase();
                    }

                    if (rowText.includes(searchTerm)) {
                        row.style.display = "table-row";
                    } else {
                        row.style.display = "none";
                    }
                });
            });
        });
    </script>
{% endblock %}
