{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h2>{{ 'app-results-for-label-search-title'|trans({'%label_name%': searchValue}) }}</h2>
        </div>
        <div class="col text-end">
            <a href="{{ path('app_therapy_labels_list') }}" class="btn btn-outline-secondary">{{ 'app-reset-search-button'|trans }}</a>
        </div>
    </div>
    <form name="search_label" action="{{ path('app_therapy_labels_search_redirector') }}" method="post">
        <div class="input-group mb-3">
            <input type="search" name="label_name" required="required" class="form-control form-control" aria-describedby="button-addon2" value="{{ searchValue }}">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">{{ 'app-search-for-label-button'|trans }}</button>
        </div>
    </form>
    <div class="row mb-3">
    {% if pagination|length > 0 %}
        {% for label in pagination %}
            <div class="list-group mb-3">
                <a href="{{ path('app_therapy_label_edit', {'id': label.id}) }}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ label.shortName }}</h5>
                    </div>
                    <p class="mt-2 text-black">{{ label.reportName }}</p>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="list-group mb-3">
            <div class="alert alert-secondary" role="alert">
                <h5 class="mb-1">{{ 'app-no-results-message'|trans }}</h5>
            </div>
        </div>
    {% endif %}
    </div>
    <div class="row mb-3">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}