{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_main') }}">{{ 'app-project-title'|trans }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="{{ 'app-toggle-navigation'|trans }}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">{{ 'app-home'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_therapy_labels_list') }}">{{ 'app-labels'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_therapy_stubs_list') }}">{{ 'app-therapy-stubs'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_therapy_saved_templates') }}">{{ 'app-therapy-saved-templates'|trans }}</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <div class="nav-item dropdown">
                        <a class="nav-item dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.request.locale|locale_name(app.request.locale)|u.title }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="{{ path(
                                    app.request.attributes.get('_route'),
                                    app.request.attributes.get('_route_params') | merge({_locale: 'en'})
                                ) }}">{{ 'app-english'|trans }}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path(
                                    app.request.attributes.get('_route'),
                                    app.request.attributes.get('_route_params') | merge({_locale: 'de'})
                                ) }}">{{ 'app-german'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </span>
            </div>
        </div>
    </nav>
{% endblock %}